[tools]
bun = "latest"

[tasks.bundle]
run = "bun install"

[tasks.start]
run = "bun run start"

[tasks.test]
run = "bun test"

[tasks.typecheck]
run = "bun run typecheck"

[tasks.format]
description = "Check formatting"
run = "bunx prettier --check src/"

[tasks."format:fix"]
description = "Fix formatting"
run = "bunx prettier --write src/"
